:root {
  --text-white: white;
  --text-black: black;
  --bg-dark: #002d5b;
  --bg-light: #0097b2;
  --bg-navigation: #181818;
  --accent-color: #ffd700;
  overflow: auto;
  background-color: var(--bg-dark);
}
